.App {
}

.flex-center {
    display: flex;
    justify-content: center;
}

.candle-data {
    margin: 0 0 10px 0;
    padding: 10px;

}

.up-candle {
    background-color: #c4eac4;
}

.down-candle {
    background-color: #e6a3a3;
}

.side-bar {
}

.inline {
    display: inline;
}

.totals-item {
    display: flex;
    justify-content: space-between;
}

.odd {
    background-color: rgba(115, 156, 208, 0.12);
}